<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<%- include('config/css') %>
	<title>Document</title>
</head>

<body>
	<%- include('config/nav') %>
	<div class="container p-4 minh-100">
		<div class="row">
			<div class="card col-12">
				<div class="card-body">
					<div class="card-title">
						<H1>Enviar mensaje</H1>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<button type="button" class="btn btn-primary btnSolicitar">
								Solicitar
							</button>
							<input type="text" class="form-control" placeholder="Usaurio" name="nombre" required>
						</div>
						<input type="text" class="form-control" placeholder="Recipient's message" name="message"
							required />

						<div class="input-group-append">
							<button class="btn btn-danger btnSave" type="button" id="button-addon2">
								Guardar
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card col-12 minh-60 mt-2 pt-2">
				<ul class="list-group server">
				</ul>
				<!-- <div class="client col-2 text-center"></div>
					<div class="server col-10"></div> -->
			</div>
		</div>
	</div>
	<%- include('config/js') %>
	<script src="/js/main.js"></script>
</body>

</html>